//
// Diary
//

// 日記container
.diary-container {
	position: relative;	
  max-width: 1430px;
  margin-right: auto;
  margin-left: auto;
}

// 日記封面
.diary-cover{
	@include size(100%, calc(100vw * 1256/750));
	background: url(assets/img/diary/cover_m.jpg) 50% 50% no-repeat;
	background-size: cover;
	@include breakpoint(lg){
		@include size(100%, 813px);
		background: url(assets/img/diary/cover.jpg) 50% 50% no-repeat;
	}
	.diary-enter{
		@include absolute(top 60% left 0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		@include breakpoint(lg){
			flex-direction: row;
			top: 68%;
		}
		.avatar-diary{
			@include size(86px);
			margin-right: 0;
			margin-bottom: 1rem;
			@include breakpoint(lg){
				@include size(120px);
				margin-right: 1.5rem;
				margin-bottom: 0;
			}
		}
		.diary-enter-button{
			display: flex;
			flex-direction: column;
		}
		.btn{
			@include breakpoint(lg){
				min-width: 180px;
			}
		}
	}
}

// 我的日記
.diary-frame{
	display: flex;
	position: relative;
	min-height: 600px;
	background-color: #fff;
	@include breakpoint(lg){
		@include size(100%, 813px);
		padding-top: 8px;
		padding-bottom: 14px;
		background: url(assets/img/diary/bg_body.jpg) center top repeat-x;
	}
	&:before{
		@include breakpoint(lg){
			@include absolute(top 0 left 0);
			@include size(50px, 100%);
			content: "";
			background: url(assets/img/diary/bg_left.jpg) left top no-repeat;
		}
	}
	&:after{
		@include absolute(top 0 right 0);
		@include size(26px, 100%);
		content: "";
		background: url(assets/img/diary/bg_right_m.jpg) right top repeat-y;
		background-size: 100% auto;
		@include breakpoint(lg){
			@include size(79px, 100%);
			background: url(assets/img/diary/bg_right.jpg) right top no-repeat;
		}
	}
}

// 日記左欄
.diary-side{
	@include fixed(top 50px left 0);
	@include size(100%, calc(100% - 50px));
	z-index: 4;
	padding: 2rem;
	background-color: #fff;
	overflow-y: auto;
	transform: translateX(-100%);
	transition: transform .4s;
	@include breakpoint(md){
		width: 50%;
	}
	@include breakpoint(lg){
		position: static;
		flex: 0 0 30%;
		max-width: 30%;
		padding-right: 15px;
		background-color: transparent;
		transform: translateX(0%);
		transition: transform 0s;
	}
	// 撰寫日記隱藏左欄
	&.is-diary-edit{
		@include breakpoint(lg){
			display: none;
		}
	}
	&.open{
		transform: translateX(0%);
	}
	// calendar
	.calendar-header{
		margin-top: 0.4rem;
		@include breakpoint(lg){
			margin-top: 0;
		}
	}
}

// 日記內容
[class*="diary-content"]{
	position: relative;
	flex: 0 0 calc(100% - 1.6rem);
	max-width: calc(100% - 1.6rem);
	padding-left: 0;
	padding-right: 0;
	@include breakpoint(lg){
		flex: 0 0 calc(70% - 5rem);
		max-width: calc(70% - 5rem);
	}
	// 寬度滿版
	&.diary-content-full{
		@include breakpoint(lg){
			flex: 0 0 calc(100% - 5rem);
			max-width: calc(100% - 5rem);
			padding-left: 1.5rem;
		}
	}
	.btn-edit{
		width: 68%;
	}
}

// 日記捲軸
.diary-scroll-container{
	// @include size();
	padding: 1rem;
	@include breakpoint(lg){
		@include size();
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 0;
	}
	&.has-scroll-bottom{
		// height: calc(100% - 70px); //減掉底下scroll bottom的高度70px
		@include breakpoint(lg){
			height: calc(100% - 85px); //減掉底下scroll bottom的高度85px
			padding-bottom: 0;
		}
	}
}
.diary-scroll-inner{
	padding-left: 1rem;
	// padding-bottom: 1rem;
	@include breakpoint(lg){
		padding-right: 1rem;
		padding-bottom: 1rem;
	}
}
.diary-scroll-bottom{
	display: flex;
	justify-content: flex-end;
	padding: 1.5rem 1rem;
	// background-color: #fff;
	@include breakpoint(lg){
		padding-right: 2rem;
		// justify-content: flex-start;
	}
}

// 日記選單開關
.diary-toggler{
	@include fixed(top 83px left 0);
	@include size(16px, 60px);
	z-index: 100;
	padding: 0;
	background-color: $diary;
	@include breakpoint(lg){
		display: none;
	}
	[data-icon]{
		margin-left: -7px;
		margin-right: 0;
		font-size: 26px;
		color: #fff;
	}
}

// 日記選單
.diary-menu{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 1rem;
	.diary-menu-item{
		border-bottom: 1px solid $diary-light;
	}
	.diary-menu-link{
		display: block;
		padding: 0.5rem 2rem;
		font-size: 20px;
		white-space: nowrap;
		text-shadow: 0 1px 2px rgba(255,255,255,.65);
		&:hover{
			text-decoration: none;
		}
		&.active [data-icon]:before{
			color: $diary;
		}
	}
	[data-icon]{
		color: $diary-light;
		margin-right: 0.8rem;
		text-shadow: none;
	}
	// active
	.diary-menu-item.active{
		background-color: rgba(255,255,255,0.3);
		.diary-menu-link{
			[data-icon]:before{
				color: $diary;
			}
		}
	}
	// 修正讀取我的日記相關頁面時主選單無法高亮問題
	.d-none.active + .diary-menu-item > .diary-menu-link{
		[data-icon]:before{
			// content: "\52";
			color: $diary;
		}
	}
}

// 搜尋日記
.diary-search{
	margin-bottom: 0.65rem;
	.form-inline{
		flex-flow: row nowrap;
		justify-content: center;
	}
	.form-icon{
		font-size: 26px;
		color: $diary;
	}
	// datepicker
	.mat-form-field-infix{
		width: auto;
	}
	.btn-search{
		display: flex;
		justify-content: center;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		[data-icon]{
			margin-right: 1px;
		}
	}
}

// 閱讀日記標題
.diary-read-heading{
	margin-bottom: 1.5rem;
	border-bottom: 1px solid $border-color;
	.row{
		> .col,
		> [class*="col-"] {
	    display: flex;
	    align-items: center;
	  }
	}
	h3{
		line-height: 1.4;
	}
	.diary-heading-image{
		@include background-cover();
		@include size(100%);
		padding-bottom: 60%;
	}
	.diary-date{
		display: block;
		margin-top: 1rem;
		margin-bottom: 0.25rem;
		color: $font-gray;
	}
}

// 前後測矩陣圖
.diary-test-chart{
	position: relative;
	padding: 3rem;
	@include breakpoint(md){
		padding: 4rem;
	}
	&#create_chart{
		width: 100%;
		@include breakpoint(md){
			width: 88%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&#post_chart{
		width: 100%;
		@include breakpoint(md){
			width: 64%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.diary-test-row{
		display: flex;
		flex-direction: row;
		width: 100%;
		border-left: 1px solid $border-color;
		border-right: 0;
		border-bottom: 1px solid $border-color;
		&:first-child{
			border-top: 1px solid $border-color;
		}
	}
	.diary-test-cell{
		display: flex;
		width: 10%;
		border-right: 1px solid $border-color;
		&:hover{
			background-color: lighten($light, 10%);
		}
		button{
			position: relative;
			width: 100%;
			padding-bottom: 100%;
			border: 0;
			background-color: transparent;
			cursor: pointer;
			// pin
			&:before{
				@include absolute(top -26px  right -20px);
				z-index: 1;
				content: "\e01e";
				font-family: eleganticons;
				line-height: 1;
				color: $diary-dark;
				font-size: 1.75rem;
				opacity: 0;
				pointer-events: none;
				transform: rotate(30deg);
				@include breakpoint(md){
					@include absolute(top -33px  right -26px);
					font-size: 2.2rem;
				}
			}
			// active
			&.active{
				&:before{
					opacity: 1;
					animation: pin .3s;
				}
			}
		}
	}
	@keyframes pin {
		from { transform: scale(1.5) translateY(-20px) rotate(30deg); }
		to { transform: scale(1) translateY(0) rotate(30deg); }
	}
	.line-cross{
		@include absolute(top 1.5rem left 1.5rem);
		@include size(calc(100% - 3rem));
		overflow: hidden;
		pointer-events: none;
		[class*=line]{
			position: absolute;
			&.line-x{
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				border-top: 1px solid $diary-dark;
			}
			&.line-y{
				top: 0;
				left: calc(50% - 1px);
				height: 100%;
				border-right: 1px solid $diary-dark;
			}
		}
	}
	.labels-cross{
		[class*=label]{
			@include size(48px);
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5rem;
			color: #fff;
			line-height: 1;
			text-align: center;
			background-color: $diary;
			@include breakpoint(md){
				@include size(64px);
			}
			&.label-top{
				top: 0;
				left: 50%;
				background-color: $diary-green;
				transform: translateX(-50%);

			}
			&.label-bottom{
				bottom: 0;
				left: 50%;
				background-color: $diary-green-light;
				transform: translateX(-50%);
			}
			&.label-left{
				top: 50%;
				left: 0;
				background-color: $diary-green-light;
				transform: translateY(-50%);
			}
			&.label-right{
				top: 50%;
				right: 0;
				background-color: $diary-green;
				transform: translateY(-50%);
			}
		}
	}
	// .labels-around{
	// 	[class*=label]{
	// 		position: absolute;
	// 		padding: 0.5rem;
	// 		color: $diary;
	// 		line-height: 1;
	// 		&.label-top-left{
	// 			top: 0;
	// 			left: 0;
	// 		}
	// 		&.label-top-right{
	// 			top: 0;
	// 			right: 0;
	// 		}
	// 		&.label-bottom-right{
	// 			bottom: 0;
	// 			right: 0;
	// 		}
	// 		&.label-bottom-left{
	// 			bottom: 0;
	// 			left: 0;
	// 		}
	// 	}
	// }
	.pin{
		@include absolute(top 0 left 0);
		display: flex;
		margin-top: -7.6%;
		margin-left: 5.6%;
		// margin-top: -2.5%;
		// margin-left: 1.5%;
		// background-color: $diary-light;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s;
		&#create_pin{
			font-size: 1.7vw;
		}
		&#post_pin{
			@include breakpoint(md){
				font-size: 2vw;
			}
		}
		&.active{
			opacity: 1;
			animation: pin .3s;
		}
		[data-icon]{
			color: $diary-dark;
			// font-size: 2vw;
			transform: rotate(30deg);
		}
	}
}
// @keyframes pin {
// 	from { transform: scale(1.5) translateY(-20px); }
// 	to { transform: scale(1) translateY(0); }
// }

// 心情圖譜
.chart-container-bubble{
	position: relative;
	// width: 100%;
	width: calc(100% + 10px);
	margin-left: -5px;
	height: 582px * 0.7;
	@include breakpoint(md){
		width: 100%;
		height: 582px * 0.8;
		margin-left: 0;
	}
	@include breakpoint(lg){
		height: 582px;
	}
}

// 日記背景圖
.diary-bg-cover{
	@include absolute(top 0 left 0);
	@include size();
	@include breakpoint(lg){
		padding: 7px 81px 13px 7px;
	}
	.diary-bg-cover-img{
		@include size();
		@include background-cover();
		display: flex;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		&:before{
			@include breakpoint(lg){
				content: "";
				flex: 0 0 31.5%;
				height: 100%;
				background-color: rgba(255,255,255,0.2);
			}
		}
		&:after{
			content: "";
			flex: 1 0 auto;
			height: 100%;
			background-color: rgba(255,255,255,0.8);
		}
	}
}

// 日記背景列表
.diary-bg-list{
	.diary-bg-list-item{
		position: relative;
		margin-bottom: 0.75rem;
		overflow: hidden;
		cursor: pointer;
		// 目前背景
		&.active{
			&:after{
				@include absolute(top 0 left 0);
				@include size();
				z-index: 3;
				content: "";
				border: 2px solid $diary;
			}
		}
		&:hover{
			.diary-bg-list-actions{
				background-color: rgba(60,79,37,0.8);
				@include breakpoint(lg){
					transform: translateY(0);
				}
			}
		}
	}
	.diary-bg-list-img{
		@include background-cover();
		position: relative;
		padding-bottom: 62%;
	}
	.diary-bg-list-actions{
		@include absolute(bottom 0 left 0);
		width: 100%;
		z-index: 2;
		color: #fff;
		background-color: rgba(60,79,37,0.8);
		transform: translateY(0);
		transition: all .3s;
		@include breakpoint(lg){
			background-color: rgba(60,79,37,0);
			transform: translateY(100%);
		}
		.row{
			min-height: 36px;
			> [class*="col-"]{
				align-self: center;
			}
		}
		.diary-bg-list-title{
			display: block;
			line-height: 1;
		}
	}
	// 設為背景
	.btn-set-bg{
		@include absolute(top 0 left 0);
		@include size();
		@include text-hide();
		z-index: 1;
		padding: 0;
	}
	// 刪除背景
	.btn-delete-bg{
		padding: 0;
		background-color: transparent;
		[data-icon]{
			top: 0;
			color: #fff;
		}
	}
}





