//
// Avatar
//

.avatar{
	@include background-cover();
	display: flex;
	border-radius: 100%;
	background-color: $light;
	&.avatar-sm{
		@include size(30px);
		flex: 0 0 30px;
	}
	&.avatar-md{
		@include size(50px);
		flex: 0 0 50px;
	}
	&.avatar-lg{
		@include size(54px);
		border: 1px solid currentColor;
		@include breakpoint(md){
			@include size(64px);
		}
	}
	&.avatar-xl{
		@include size(90px);
		flex: 0 0 90px;
		@include breakpoint(md){
			@include size(120px);
			flex: 0 0 120px;
		}
	}
	// 作者介紹
	&.avatar-single-writer{
		@include size(140px);
		flex: 0 0 140px;
	}
	// 作者專區
	&.avatar-writer{
		width: 36%;
		padding-bottom: 36%;
		@include breakpoint(sm){
			width: 100%;
			padding-bottom: 100%;
		}
	}
}


