//
// Button group
//

// theme btn group primary
@each $color, $value in $theme-colors {
  .btn-group-#{$color} {
    .btn{
      color: #fff !important;
      background-color: #{$value};
      &:hover{
        color: #fff;
        background-color: darken($value, 10%);
      }
    }
    // disabled
    .disabled{
      color: #fff !important;
      background-color: lighten($value, 20%);
      opacity: 1;
      &:hover{
        color: #fff;
        background-color: lighten($value, 20%);
      }
    }
  }
}

// size
.btn-group-lg{
  .btn{
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
}

// 查看更多
.btn-group-more{
	// margin-top: 2rem;
	text-align: center;
}
// 顯示最後一個查看更多按鈕, 其他隱藏
.btn-group-more{
  display: none;
}
.row + .btn-group-more,
.form-row + .btn-group-more,
.card-row + .btn-group-more,
.more-data + .btn-group-more{
  display: block;
}
.row + div + .btn-group-more,
.card-row + div + .btn-group-more{
  display: block;
}

// block
.btn-group-block{
  .btn{
    width: 100%;
  }
}

// 加入購物車
.btn-group-cart{
  display: flex;
  flex-direction: column;
  @include breakpoint(md){
    flex-direction: row;
  }
}

// 書架式加入購物車+數量
.btn-group-list-qty{
  .btn-group-cart{
    display: flex;
    flex-direction: column;
    .form-group-qty{
      margin-top: 1rem;
      margin-right: 0;
      margin-bottom: 10px;
    }
    .btn{
      margin-top: 0 !important;
    }
  }
}

// 下次再買
.btn-group-buylater{
  .btn{
    width: 100%;
    @include breakpoint(md){
      width: auto;
    }
  }
}








