//
// Button group
//

// theme btn group primary
@each $color, $value in $theme-colors {
  .btn-group-#{$color} {
    .btn{
      color: #fff !important;
      background-color: #{$value};
      &:hover{
        color: #fff;
        background-color: darken($value, 10%);
      }
    }
    // disabled
    .disabled{
      color: #fff !important;
      background-color: lighten($value, 20%);
      opacity: 1;
      &:hover{
        color: #fff;
        background-color: lighten($value, 20%);
      }
    }
  }
}

// size
.btn-group-lg{
  .btn{
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
}

// load more
.btn-group-more{
	// margin-top: 2rem;
	text-align: center;
}
// 顯示最後一個load more按鈕, 其他隱藏
.btn-group-more{
  display: none;
}
.row + .btn-group-more,
.form-row + .btn-group-more,
.card-row + .btn-group-more{
  display: block;
}
.row + div + .btn-group-more,
.card-row + div + .btn-group-more{
  display: block;
}

// block
.btn-group-block{
  .btn{
    width: 100%;
  }
}

// add cart
.btn-group-cart{
  display: flex;
  flex-direction: column;
  @include breakpoint(md){
    flex-direction: row;
  }
}

// buy later
.btn-group-buylater{
  .btn{
    width: 100%;
    @include breakpoint(md){
      width: auto;
    }
  }
}








