//
// Collapse
//

// lnb
.navbar-lnb{
	// mobile
	.navbar-collapse{
		@media (max-width: 991px){
			@include fixed(top 0 left 0);
			@include size(0, 100%);
			display: block !important;
			max-width: 80%;
			overflow: hidden;
			background-color: #fff;
			z-index: 1012;
			transform: translateX(-100%);
			transition: transform .4s, width .4s;
			&.open{
				width: 285px;
				transform: translateX(0);
			}
			.navbar-nav{
				overflow-y: auto;
				height: 100%;
			}
		}
	}
}

