//
// Content
//

// 從後台編輯器來的內容
// 商品說明 課程介紹 文章內容 活動說明 閱讀日記
.content-detail{
	img{
		max-width: 100% !important;
		height:auto !important;
	}
	iframe, video{
		max-width: 100% !important;
	}
}










