// 
// Hashtag
// 

.hashtag{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	.hashtag-item{
		margin-right: 0.5rem;
	}

	.hashtag-link{
		display: inline-block;
		color: inherit;
		&:hover{
			text-decoration: underline;
		}
	}
	.hashtag-remove{
		padding: 0;
		color: $font-color;
		border: 0;
		background-color: transparent;
		cursor: pointer;
	}
}

// hashtag搜尋
.hashtag-search{
	@include ellipsis();
	margin-bottom: 0 !important;
	.hashtag-item,
	.hashtag-link{
		display: inline;
	}
}

.edit-hashtag{
	color: $font-color;
	font-weight: normal;
	background-color: transparent;
}