// 
// Hero
// 

.hero-cover{
	position: relative;
	margin-bottom: 1rem;
	@include breakpoint(md){
		margin-bottom: 2rem;
	}
	.hero-cover-image{
		@include background-cover();
		height: 300px;
		@include breakpoint(md){
			height: 400px;
		}
	}
}









