// 
// Hr
// 

// 分隔線文字置中
.hr-title{
	text-align: center;
	overflow: hidden;
	span{
		position: relative;
		padding: 1rem;
		&:before, &:after{
			@include absolute(top 50%);
			content: "";
			width: 5000px;
			border-bottom: 1px solid $border-color;
		}
		&:before{
			right: 100%;
		}
		&:after{
			left: 100%;
		}
		small{
			font-weight: 500;
		}
	}
}

