//
// Icons
//

// favorite
.icon-favorite{
	@include absolute(top 1rem right 1.5rem);
	font-size: 1.75rem;
	color: currentColor !important;
	@include breakpoint(md){
		top: 1.5rem;
		right: 2rem;
		font-size: 2rem;
	}
	[data-icon]{
		display: flex;
	}
}

// share
.icon-group-share{
	display: flex;
	margin: 0.8rem 0;
	a{
		display: flex;
		margin: 0 0.5rem;
		text-align: center;
		img{
			@include size(88px, 24px);
		}
	}
}

// 下箭頭 預設隱藏
.custom-arrow{
	display: none;
	position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  bottom: 15px;
  z-index: 10;
  color: inherit;
  transition: opacity 0.3s ease 0.5s;
  &:hover{
  	color: inherit;
  }
	.line{
		width: 2px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    &:after{
			background: currentColor;
	    content: '';
	    left: 0;
	    top: 0;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    display: block;
    }
	}
	.line1{
		height: 22px;
    left: 14px;
    top: 3px;
    border-radius: 0 0 2px 2px;
    &:after{
    	animation: custom-arrow-anim 3s 0s ease-in-out  infinite;
    }
	}
	.line2{
		height: 10px;
		left: 17px;
		top: 45px - 28px;
		transform: rotateZ(-135deg);
		&:after{
			animation: custom-arrow-anim 3s .5s ease-in-out  infinite;
		}
	}
	.line3{
		height: 10px;
		left: 11px;
		top: 45px - 28px;
		transform: rotateZ(135deg);
		&:after{
			animation: custom-arrow-anim 3s .5s ease-in-out  infinite;
		}
	}
}
@keyframes custom-arrow-anim {
  0% { transform: translate3d(0, -100%, 0); }
  20% { transform: translate3d(0, 0%, 0); } 
	80% { transform: translate3d(0, 0%, 0); } 
  100% { transform: translate3d(0, 100%, 0); }
}





