// 
// Image
// 

.image-cover{
	@include background-cover();
	@include size();
}

.image-cover-hero{
	position: relative;
	margin-bottom: 1rem;
	@include breakpoint(md){
		margin-bottom: 2rem;
	}
	.image-cover{
		@include background-cover();
		height: 300px;
		@include breakpoint(md){
			height: 400px;
		}
	}
}

.image-product{
	@include background-cover();
	@include size(88px);
	flex: 0 0 88px;
}









