//
// Media
//

// 首頁列表左圖
.media-cover{
	@include size(100%);
	@include background-cover();
	padding-bottom: 70%;
	@include breakpoint(md){
		height: 442px;
		padding-bottom: 0;
	}
}

// list, info
.media-list,
.media-lead{
	display: flex;
	margin-bottom: 2rem;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	@include breakpoint(md){
		align-items: stretch;
	}
	a{
		color: inherit;
	}
	a:hover{
		// color: $font-dark;
		text-decoration: none;
	}
	// header
	.media-header{
		.media-img{
			@include size();
			@include background-cover();
		}
	}
	// body
	.media-body{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		.media-title{
			margin-bottom: 0;
			padding-bottom: 0.5rem;
			color: $font-color;
			&.multiline{
				@include breakpoint(md){
					height: 64px;
				}
				span{
					@include multi-ellipsis($lineHeight: 1.4em, $lineCount: 2, $bgColor: white);
					display: block;
				}
			}
			a{
				display: block;
			}
		}
		.media-info{
			padding-top: 0.5rem;
			border-top: 1px solid currentColor;
			.media-summary{
				margin-bottom: 0.5rem;
				padding: 0.5rem 0;
				// font-size: 15px !important;
				border-bottom: 1px solid currentColor;
				&.single-line{
					height: auto;
					span{
						color: $font-color;
					}
				}
				&.multiline{
					@include breakpoint(md){
						height: 80px;
					}
					span{
						@include multi-ellipsis($lineHeight: 1.4em, $lineCount: 3, $bgColor: white);
			  		display: block;
			  		color: $font-color;
					}
				}
			}
			.media-text{
				@include ellipsis();
				margin-bottom: 0;
				color: $font-color;
				// font-size: 15px !important;
			}
		}
	}
}


// list
.media-list{
	flex-direction: column;
	@include breakpoint(md){
		flex-direction: row;
	}
	.media-header{
		padding: 0;
		.media-img{
			// height: 160px;
			padding-bottom: 40%;
			@include breakpoint(md){
				// height: 400px;
				padding-bottom: 52%;
			}
		}
		.media-img-h-400{
			height: 160px;
			@include breakpoint(md){
				height: 400px;
			}
		}
	}
	.media-body{
		padding: 0.75rem 0;
		@include breakpoint(md){
			padding: 0.75rem 1rem;
		}
		.media-info{
			.media-summary{
				font-size: 15px !important;
			}
			.media-avatar{
				display: flex;
				align-items: center;
				padding-bottom: 0.5rem;
				border-bottom: 1px solid currentColor;
				.avatar-text{
					color: $font-color;
					font-size: 15px !important;
				}
			}
			.media-text{
				font-size: 15px !important;
			}
		}
		.media-button{
			margin-top: 1rem;
			@include breakpoint(md){
				margin-top: 0.5rem !important;
			}
		}
	}
}

// 首頁列表
.media-list-home{
	flex-direction: row;
	&.mb-0{
		border-bottom: 0;
	}
	.media-header{
		width: 45%;
		@include breakpoint(md){
			width: 35%;
		}
		.media-img{
			height: 210px;
			@include breakpoint(md){
				height: 200px;
			}
		}
		.media-img-h-400{
			height: 413px;
			@include breakpoint(md){
				height: 400px;
			}
		}
	}
	.media-body{
		width: 55%;
		padding: 0.75rem 1rem;
		@include breakpoint(md){
			width: 65%;
		}
		.media-button-absolute{
			margin-top: 0.5rem;
			@include breakpoint(md){
				@include absolute(bottom 0.75rem right 1rem);
				margin-top: 0;
			}
			.btn{
				display: block;
				@include breakpoint(md){
					display: inline-block;
				}
			}
		}
	}
}

// lead
.media-lead{
	border-top: 0;
	border-bottom: 0;
	p{
		font-size: 1rem !important;
	}
	// 手機版圖片寬滿版
	&.media-lead-img-full{
		margin-top: -2rem;
		@include breakpoint(md){
			margin-top: -3rem;
		}
		@include breakpoint(lg){
			margin-top: 0;
		}
		.media-img{
			margin-left: -15px;
			margin-right: -15px;
			width: calc(100% + 30px);
			@include breakpoint(lg){
				margin-left: 0;
				margin-right: 0;
				width: 100%;
			}
		}
	}
	.media-header{
		.media-img{
			height: 300px;
			@include breakpoint(lg){
				height: 100%;
				padding: 0;
			}
		}
	}
	// ngx-gallery
	.media-gallery{
		position: relative;
		padding-bottom: 128%;
		.ngx-gallery-layout{
			@include absolute(top 0 left 0);
		}
	}
	.media-body{
		.media-info{
			.media-avatar{
				display: flex;
				align-items: center;
				.avatar-text{
					color: $font-color;
				}
			}
			.media-summary,
			.media-text{
				font-size: 1rem !important;
			}
		}
		.media-hashtag{
			a{
				font-size: 1rem !important;
			}
		}
	}
}

// hashtag
.media-hashtag{
	margin-top: 0.5em;
	line-height: 1.2em;
	word-break: break-all;
	word-wrap: break-word;
	a{
		margin-right: 0.25rem;
		font-size: 15px;
		color: currentColor;
		&:hover{
			color: currentColor;
			text-decoration: underline !important;
		}
	}
}


