//
// Navs
//

// 列表篩選器
.nav-sort{
	justify-content: flex-end;
	margin-bottom: 1.5rem;
	@include breakpoint(md){
		margin-bottom: 2rem;
	}
	> div{
		display: inline-flex;
	}
	.nav-link{
		margin-left: -1px;
		border: 1px solid $border-dark;
		background-color: #fff;
		&:not([href]):not([tabindex]){
			color: rgba(88,88,88,0.5);
			&.active{
				color: rgba(88,88,88,1);
			}
			// icon
			&:after{
				position: relative;
				top: 1px;
				font-family: 'ElegantIcons';
			}
			// arrow_down
			&.icon-desc:after{
				content: "\22";
			}
			// arrow_up
			&.icon-asc:after{
				content: "\21";
			}
			// arrow_up-down_alt
			&.icon-sort:after{
				content: "\2a";
			}
		}
	}
}

// 交易紀錄篩選器
.nav-sort-form{
	justify-content: flex-end;
	margin-bottom: 1rem;
	> div{
		display: inline-flex;
	}
	.nav-item{
		padding-left: 0;
	}
	.nav-link{
		margin-left: -1px;
		padding: 0.5rem 1rem;
		border: 1px solid $border-dark;
		background-color: #fff;
		cursor: pointer;
		&:not([href]):not([tabindex]){
			color: rgba(88,88,88,0.5);
		}
	}
	.form-check-input{
		display: none;
	}
	// active
	.form-check-input:checked{
		+ .form-check-label{
			color: rgba(88,88,88,1);
		}
	}
}

// 
// Tabs
// 

.nav-underline{
	.nav-item{
		margin-left: 1rem;
		&:first-child{
			margin-left: 0;
		}
	}
	.nav-link{
		padding: 1rem 0.25rem;
	}
	// active
	.nav-link.active{
		border-bottom: 3px solid $home;
	}
}








