//
// Navs
//

// 列表篩選器
.nav-sort{
	justify-content: flex-end;
	margin-bottom: 1.5rem;
	@include breakpoint(md){
		margin-bottom: 2rem;
	}
	> div{
		display: inline-flex;
	}
	.nav-link{
		margin-left: -1px;
		border: 1px solid $border-dark;
		background-color: #fff;
		&:not([href]):not([tabindex]){
			color: rgba(88,88,88,0.5);
			&.active{
				color: rgba(88,88,88,1);
			}
			// icon
			&:after{
				position: relative;
				top: 1px;
				font-family: 'ElegantIcons';
			}
			// arrow_down
			&.icon-desc:after{
				content: "\22";
			}
			// arrow_up
			&.icon-asc:after{
				content: "\21";
			}
			// arrow_up-down_alt
			&.icon-sort:after{
				content: "\2a";
			}
		}
	}
}

// 交易紀錄篩選器
.nav-sort-form{
	margin-bottom: 1rem;
	@include breakpoint(md){
		justify-content: flex-end;
	}
	.nav-item{
		flex-grow: 1;
		padding-left: 0;
		@include breakpoint(md){
			flex-grow: 0;
		}
	}
	.nav-link{
		margin-left: -1px;
		padding: 0.5rem 1rem;
		border: 1px solid $border-dark;
		background-color: #fff;
		text-align: center;
		cursor: pointer;
		&:not([href]):not([tabindex]){
			color: rgba(88,88,88,0.5);
		}
	}
	.form-check-input{
		display: none;
	}
	// active
	.form-check-input:checked{
		+ .form-check-label{
			color: rgba(88,88,88,1);
		}
	}
}

// 
// Tabs
// 

.nav-tabs{
	border-bottom: 0;
	.nav-item{
		margin-right: 1.5rem;
		&.last-child{
			margin-right: 0;
		}
	}
	.nav-link{
		padding: 0.5rem 0;
		// rest bootstrap style
		border: none !important;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		background-color: transparent !important;
		border-bottom: 5px solid transparent !important;
	}
	// active, hover
	.nav-link.active,
	.nav-link:hover{
		border-bottom: 5px solid $home !important;
	}
}








