//
// Sliders
//

// hero
.slider-hero-container{
	@include breakpoint(md){
		display: flex;
		flex-direction: row;
		height: 400px;
		min-height: 0;
	}
}
.slider-hero{
	position: relative;
	display: block;
	width: 100%;
	margin-top: -2rem;
	@include breakpoint(md){
		width: 60%;
		margin-top: 0;
	}
	.slider-item{
		@include size();
		height: 400px !important;
		@include breakpoint(md){
			// @include absolute(top 0 left 0);
			// opacity: 0;
			pointer-events: none;
			transition: opacity .5s;
		}
		&:before{
			@include absolute(top 0 left 0);
			@include size();
			display: block;
			content: "";
			background-image: linear-gradient(rgba(10,45,72,0),rgba(10,45,72,0.6));
		}
		&.active{
			@include breakpoint(md){
				// opacity: 1;
				pointer-events: auto;
			}
		}
		.slider-link{
			@include absolute(top 0 left 0);
			@include size();
		}
		.slider-img{
			@include background-cover();
			@include size();
		}
		.slider-info{
			@include absolute(bottom 0 left 0);
			width: 100%;
			padding: 1rem;
			@include breakpoint(md){
				padding: 1rem 2rem;
			}
			.slider-title{
				color: #fff;
			}
			.slider-text{
				margin-bottom: 0;
				color: #fff;
				font-size: 1rem !important;
			}
		}
	}
}
.slider-hero-menu{
	@include size(40%, 100%);
	.slider-menu-item{
		border-top: 1px solid currentColor;
		&.active{
			.slider-menu-link{
				color: currentColor;
			}
		}
		.slider-menu-link{
			@include size();
			display: flex;
			align-items: center;
			margin-bottom: 0;
			padding: 0 2rem;
			font-size: 18px;
			&:hover{
				text-decoration: none;
			}
		}
	}
}


