//
// Widget
//

// 評分
// Pure CSS Star Rating Widget
// A PEN BY James Barnett
// https://codepen.io/jamesbarnett/pen/vlpkh
.review-stars {
  display: inline-flex;
  flex-direction: row-reverse;
  > input {
    display: none;
  }
  > label{
    color: $font-light;
    margin-bottom: 0;
    cursor: pointer;
    &:before{
      margin-right: 0.25rem;
      font-size: 2rem;
      display: inline-block;
      content: "\e031";
    }
    // filled
    &.filled{
      cursor: default;
      &:before{
        color: #f3c05a;
        content: "\e033";
      }
    }
  }
  // small size stars
  &.review-stars-small{
    > label{
      &:before{
        font-size: 1.2rem;
      }
    }
  }
}

/***** CSS Magic to Highlight Stars on Hover *****/

.review-stars > input:checked ~ label:before, /* show gold star when clicked */
.review-stars:not(:checked) > label:hover:before, /* hover current star */
.review-stars:not(:checked) > label:hover ~ label:before { color: #f3c05a; content: "\e033"; } /* hover previous stars in list */

.review-stars > input:checked + label:hover, /* hover current star when changing rating */
.review-stars > input:checked ~ label:hover,
.review-stars > label:hover ~ input:checked ~ label, /* lighten current selection */
.review-stars > input:checked ~ label:hover ~ label { color: #f3c05a; content: "\e033"; } 


