//
// Banner
//

// header banner
.banner-item-image {
  @include background-cover();
  width: 100%;
  padding-bottom: 66%;
  @include breakpoint(md){
  	height: 430px;
  	padding-bottom: 0;
  }
}

// home banner
.section-banner-home{
	position: relative;
	.banner-item-image {
		@include background-cover();
	  padding-bottom: 88%;
	  @include breakpoint(md){
	  	height: calc(100vh - 110px);
	  	padding-bottom: 0;
	  }
	}
	// owl carousel
	.owl-dots{
		bottom: 3rem !important;
	}
	// 顯示首頁banner下箭頭
	.custom-arrow{
		display: block;
	}
}






