//
// Section
//

// heading
.section-heading{
	padding: 1.5rem 15px;
	text-align: center;
	background-color: currentColor;
	@include breakpoint(md){
		padding: 2rem 15px;
		font-size: 20px !important;
	}
	p{
		margin-bottom: 0;
		color: #fff;
		line-height: 1.8;
		@include breakpoint(md){
			white-space: pre-wrap;
			font-size: 20px !important;
		}
	}
}

// contents
.section-contents{
	min-height: 420px;
	padding: 2rem 0;
	@include breakpoint(md){
		padding: 3rem 0;
	}
	@include breakpoint(lg){
		padding: 4rem 0;
	}
}

// Google搜尋
.section-search{
	margin-top: 2rem;
	@include breakpoint(md){
		margin-top: 3rem;
	}
	@include breakpoint(lg){
		margin-top: 4rem;
	}
	// 查看更多產生的list
	+ app-google-search > .section-search,
	+ div > .section-search{
		margin-top: 0;
	}
	// 顯示最後一個查看更多按鈕, 其他隱藏
	+ .btn-group-more{
		display: block;
	}
	// 查看更多按鈕, 已無更多資料
	+ .btn-group-more,
	+ .text-center{
	  margin-bottom: 2rem;
	  @include breakpoint(md){
	  	margin-bottom: 3rem;
	  }
	  @include breakpoint(lg){
	  	margin-bottom: 4rem;
	  }
	}
	// title
	.search-title{
		color: $home-dark;
		&:hover{
			color: darken($home-dark, 10%);
		}
	}
	.search-snippet{
		br{
			display: none;
		}
		b{
			color: $home;
			font-weight: normal;
		}
	}
}

// hashtag搜尋
.section-search-hashtag{
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 318px);
}

// 首頁輪播banner
.section-banner-home{
	position: relative;
}

// 背景圖模糊
.section-bg-blur{
	position: relative;
	margin-bottom: 2rem;
	padding: 2rem 0;
	background-color: rgba(118,73,50,0.9);
	overflow: hidden;
	@include breakpoint(md){
		padding: 3rem 0;
	}
	.bg-blur-img{
		@include absolute(top 0 left 0);
		@include background-cover();
		@include size();
		z-index: -1;
		opacity: 0.5;
		filter: blur(5px);
	}
	p{
		color: #fff !important;
	}
}

// 滿版包含主選單
.section-full-page{
	width: 100%;
	height: calc(100vh - 50px);
	@include breakpoint(lg){
		height: calc(100vh - 110px);
	}
}

// 評價留言
.section-review{
	padding-top: 2rem;
	// border-top: 1px solid $border-color;
}

// 你可能會喜歡
.section-recommend{
	margin-top: 2rem;
	margin-bottom: -2rem;
	padding-top: 2rem;
	border-top: 1px solid $border-color;
	// + .section-review{
	// 	margin-top: 2rem;
	// }
}









