//
// _section.scss
//

// heading
.section-heading{
	padding: 2rem 0;
	font-size: 20px;
	text-align: center;
	background-color: currentColor;
	p{
		margin-bottom: 0;
		color: #fff;
		line-height: 1.8;
		white-space:pre-wrap; 
	}
}

// contents
.section-contents{
	padding: 4rem 0;
	@include breakpoint(pad){
		padding: 6rem 0;
	}
	ul, ol{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}


