//
// Settings
//

html{
	-webkit-font-smoothing: antialiased;
}

body{
	color: $font-color !important;
	font-family: $font-family;
}

// a
a{
	color: $font-color;
	&:hover{
		color: $font-dark;
		// text-decoration: none;
	}
}
a:not([href]):not([tabindex]){
	color: $font-color;
	cursor: pointer;
	&:hover{
		color: $font-dark;
	}
}

button:focus{
	outline: 0;
}

small, .small{
	font-size: 90% !important;
}

label{
	margin-bottom: 0.3rem;
}

p{
	font-size: 18px !important;
}

// 引用
blockquote {
	font-size: 18px !important;
  font-style: italic;
	line-height: 1.625;
  border-left: 4px solid #ccc;
  color: #999;
  margin: 0 0 1.625rem 1.625rem;
  padding-left: 1rem;
	p{
		margin-bottom: 0px;
	}
}

// 分隔線
hr, .hr{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-top: 1px solid $border-color;
}

[hidden]{
	display: none !important;
}

// 隱藏input箭頭按鈕
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

// placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888 !important;
  font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #888 !important;
  font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #888 !important;
  font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
  color: #888 !important;
  font-weight: 300;
}







