// 
// Hashtag
// 

.hashtag{
	@include multi-ellipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);
	margin-top: 0.25em;
	word-break: break-all;
	word-wrap:break-word;
	a{
		margin-right: 0.25rem;
		font-size: 15px;
	}
}