// 
// Hr
// 

.hr-title{
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	overflow: hidden;
	span{
		position: relative;
		padding: 1rem;
		&:before, &:after{
			@include absolute(top 50%);
			content: "";
			width: 5000px;
			border-bottom: 1px solid $border-color;
		}
		&:before{
			right: 100%;
		}
		&:after{
			left: 100%;
		}
	}
}
.hr{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $border-color;
}