//
// _auth.scss
//

// auth
.auth{
	color: $font-color;
	font-size: 1rem;
	a, a:not([href]):not([tabindex]) {
		color: $home;
	  &:hover{
	  	color: darken($home, 10%);
	  }
	}
}
.auth-heading{
	margin-bottom: 1.5rem;
	color: $font-color;
	h4{
		margin-bottom: 0;
	}
}

// dialog
.cdk-overlay-container{
	z-index: 1030;
}
.mat-dialog-container{
	padding: 2.5rem !important;
	border-radius: 0 !important;
}
.mat-dialog-content{
	margin: 0 -2.5rem !important;
	padding: 0 2.5rem !important;
	color: $font-color;
}

// datepicker form
.mat-form-field{
	width: 100%;
	padding-bottom: 0.25rem;
	line-height: 1.5;
	font-family: $font-family;
	border-bottom: 1px solid #ced4da;
}
.mat-form-field-wrapper{
	padding: 0 !important;
}
.mat-form-field-infix{
	border-top: 0;
	padding: 0 !important;
	.mat-input-element:disabled{
		color: #888 !important;
	}
}
.mat-form-field-underline{
	display: none;
}

.mat-calendar-body-selected{
	background-color: $home;
	box-shadow: none !important;
}

// datepicker
.mat-datepicker-toggle{
	&.mat-datepicker-toggle-active{
		color: $home;
	}
	.mat-icon-button{
		outline: 0 !important;
	}
	.mat-button-wrapper{
		width: auto;
		&:before{
			content: "\e023";
			font-family: 'ElegantIcons';
		}
		svg{
			display: none;
		}
	}
}
.mat-datepicker-content{
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12) !important;
}


// login


// register